<% provide(:title, 'Sign up') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
      <h1>Sign Up</h1>

    </div>
    <div class="span6">
	
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :fullname %>
      <%= f.text_field :fullname %>

	  <%= f.label :twittername %>
      <%= f.text_field :twittername %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
<br><br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

    </div>
  </div>
</div>