<% provide(:title, 'Sign up') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
      <h1>Sign up</h1>

    </div>
    <div class="span6">
	
    <%= form_for(@user) do |f| %>
  	<%= render 'shared/error_messages', object: f.object %>


<strong>Name</strong> <br>
      <%= f.text_field :fullname %>
<br>
<strong>Twitter name</strong> - so your followers can vote<br>
      <%= f.text_field :twittername %>
<br>
<strong>Email</strong> - this is your unique logon</strong><br>
      <%= f.text_field :email %>
<br>
<strong>Password</strong> - you know how these work<br>
      <%= f.password_field :password %>
<br>
<strong>Password confirmation</strong> - retype your password!<br>
      <%= f.password_field :password_confirmation %>
<br><br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

    </div>
  </div>
</div>