<% provide(:title, @user.fullname) %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">


			<% flash.each do |key, value| %>
			    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
			   <% end %>

		      <%= render 'shared/error_messages' %>
		
	<section>
		<h3><%= @user.fullname %></h3><br>
		<b>	<%= @user.email %>
			<%= @user.twittername %></b>	
	</section>

</div>

<div class="span8">
	
    <% if @user.dilemmas.any? %>
      <h3>Dilemmas (<%= @user.dilemmas.count %>)</h3>
      <ol class="dilemmas">
        <%= render @dilemmas %>
      </ol>
      <%= will_paginate @dilemmas %>
    <% end %>

	<br>
	<br>
		  <%= link_to "Create a Dilemma", new_dilemma_path, class: "btn btn-large btn-primary" %> | 	  
		<%= link_to "Edit My Profile", edit_user_path, class: "btn btn-large btn-info" %>
  </div>
</div>
</div>
