<%= form_tag dilemma_response_path, :method => 'get' do %>
			<% end %>

<table class="table table-bordered table-condensed" >
  <tr>
    <th>Twitter id</th>
	<th>Twitter fullname</th>
    <th>When</th>
    <th><center>Vote</center></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
	<td><%= (response).user %></td>
	<td><%= (response).twitter_name %></td>
			
    <td><%= l (response).created_at, :format => :short %></td>
    
	<td>	<% if current_user.admin? %>
			    <center><%= (response).yes %></center>
			<% else %>
			<i>	Secret Ballot! </i>
			  <% end %></td>

  </tr>
<% end %>

</table>
