<% provide(:title, 'Respond') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
		<h1>Respond<br>to this<br>dilemma</h1>
	</div>
    
    <div class="span7"><br>
		<%= form_for [@dilemma, @response] do |f| %>
		
		<div class="controls">
			<span class="input-xlarge uneditable-input"><%= @dilemma.dilemma %>
		</div>
		<% end %><br>
			
		<%= form_for([@dilemma, @dilemma.responses.build]) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

		<div class="span6">
			
		
			
			<table class="table table-condensed" >
  				<tr>
    				<th><center>Yes</center></th>
    				<th><center>No</center></th>
  				</tr>
				<tr>
    				<td><center><%= f.radio_button :yes, "Yes" %></center></td>
    				<td><center><%= f.radio_button :yes, "No" %></center></td>
				</tr>
			</table>
			<strong>Enter your twittername to verify your vote.</strong><br> 
			<i>We will not use or share your twittername.</i>
			  <%= f.text_field :user,  %><br />
			
 			<%= f.submit "Record My Vote", :class =>'btn btn-large btn-info' %>

			<% end %>
		</div>
	</div>
</div>
