<% provide(:title, 'Respond') %>
<br><br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
	
<h1>Respond to<br> this dilemma</h1>
    
</div>
    <div class="span6">
<br>
	<%= form_for [@dilemma, @response] do |f| %>

	<div class="controls">
		<span class="input-xlarge uneditable-input"><%= @dilemma.dilemma %>
	</div>
	<% end %>
</blockquote>
<br>	
<%= form_for([@dilemma, @dilemma.responses.build]) do |f| %>

<div class="span3">
<table class="table table-condensed" >
  <tr>
    <th>Yes</th>
    <th>No</th>
  </tr>
<tr>
    <td><%= f.radio_button :yes, "Yes" %></td>
    <td><%= f.radio_button :yes, "No" %></td>
</tr>
</table>

 <%= f.submit "Record My Vote", :class =>'btn btn-large btn-info' %>
</div>
</div>
</div>

<% end %>





