<h1>Vote on this dilemma</h1>

<div class="row">
  <div class="span6 offset3">
	<%= form_for [@dilemma, @response] do |f| %>

	<div class="controls">
		<span class="input-xlarge uneditable-input"><%= @dilemma.dilemma %>
	</div>
	<% end %>
</blockquote>
<br>
<br>
<b>Please help me get off the fence, vote on my dilemma.</b>
<br>
<br>	
<%= form_for([@dilemma, @dilemma.responses.build]) do |f| %>

<table class="table table-bordered" >
  <tr>
    <th>Yes</th>
    <th>No</th>
  </tr>
<tr>
    <td><%= f.radio_button :yes, "Yes" %></td>
    <td><%= f.radio_button :yes, "No" %></td>
</tr>
</table>

 <%= f.submit "Record My Vote", :class =>'btn btn-mini' %>
</div>
</div>

<% end %>





