<h1>Vote on this dilemma</h1>

	<%= form_for [@dilemma, @response] do |f| %>


	<p>
<blockquote>
		<%= @dilemma.dilemma %>
	</p>
	<% end %>
</blockquote>
<br>
<br>
<h4>Please help me get off the fence, vote on my dilemma.</h4>
<br>
<br>	
<%= form_for([@dilemma, @dilemma.responses.build]) do |f| %>

<label class="checkbox.inline"> 
		<input type="checkbox">
		<%= :yes %>
		<label class="checkbox.inline"> 
				<input type="checkbox">
				<%= :no %>
</label>


 <%= f.submit "Record My Vote", :class =>'btn btn-mini' %>



<% end %>





