<%= form_for(@dilemma) do |f| %>
  <% if @dilemma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dilemma.errors.count, "error") %> prohibited this dilemma from being saved:</h2>

      <ul>
      <% @dilemma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

  <div class="field">
    <%= f.label :id %>
	<%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :title %>
	<%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :dilemma %>
	<%= f.text_field :dilemma %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :ans_opt %>
    <%= f.text_field :ans_opt %>
  </div>
  <div class="actions">
    <%= f.submit :class =>'btn btn-mini'%>
  </div>
<br>
<% end %>
