<%= form_for(@dilemma) do |f| %>
  <% if @dilemma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dilemma.errors.count, "error") %> prohibited this dilemma from being saved:</h2>

      <ul>
      <% @dilemma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
		
  

  <div class="field">
    <%= f.label :dilemma %>
  	<%= f.text_area :dilemma, :size => "120x6" %>
  </div>

  <div class="field">
    <%= f.label "Voting Period" %>
	<%= select( "title", "id", { "a day" => "1", "a week" => "2", "a month" => "3"}) %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :ans_opt %>
	<%= select( "ans_opt", "id", { "Yes_No" => "1", "EnterOptions" => "2", "EnterAList" => "3"}) %>
  </div>
  <div class="actions">
    <%= f.submit :class =>'btn btn-mini'%>
  </div>




<% end %>




