<div class="row">
  <div class="span11 offset1">

<% provide(:title, 'All dilemmas') %>	
<h1>All Our Dilemmas</h1>

<%= will_paginate %>

<ul class="dilemmas">
	
	<table class="table table-bordered" >
	  <tr>
		<th><center>User Id</center></th>  
		<th>Twitter name</th>    
		<th><center>Dilemma Id</center></th>
	    <th>Dilemma</th>
	    <th>Status</th>
	    <th>Url</th>
	    <th><center>Answer style</center></th>
	    <th><center>Closes at</center></th>
 		<th><center>Responses Count</center></th>
	    <th><center>Voting page</center></th>
	    <th><center>See responses</center></th>
	    <th><center>Owner Delete</center></th>
	  </tr>
	
 	<% @dilemmas.each do |dilemma| %>

	<tr>
		<td><%= dilemma.user_id %></td> 
		<td><%= dilemma.user.twittername %></td>    
		<td><%= link_to dilemma.id, dilemma %></td>
	    <td><%= dilemma.dilemma %></td>
	    <td><%= dilemma.status %></td>
	    <td><%= dilemma.shorten_url %></td>
	    <td><center><%= dilemma.ans_opt %></center></td>
		<td><center><%= l dilemma.close_timestamp, :format => :short %></center></td>
		<td><center><%= dilemma.responses.count %> </center></td>
		
		<td><center><% if dilemma.status == "Open" %>
				<%= link_to 'Respond', new_dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-success' %>
				<% else %>
			Voting Closed
				<% end %></center></td>
		
		
		<td><center><%= link_to 'Voting?', dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-warning' %></center></td>
		
		
		
		<td><center><%= link_to "", dilemma, :class => "icon-remove-sign icon-white", method: :delete,
			                                     data: { confirm: "You sure?" },
			                                     title: dilemma.id %>
			  </center></td>
			
	    
	  </tr>
	  <% end %>
		</table>
</ul>

<%= will_paginate %>

</div>
</div>
