<div class="row">
  <div class="span11 offset1">

<% provide(:title, 'All dilemmas') %>	
<h1>All Our Dilemmas</h1>


<form>
	<%= text_field_tag :search, params[:search]  %>
    <%= submit_tag "Search", :name => nil %>
 	</form>

<%= form_tag dilemmas_path, :method => 'get' do %>
  <% end %>


<%= will_paginate %>

<ul class="dilemmas">
	
	<table class="table table-bordered" >
	  <tr>
		<th>User</th>    
		<th>ID</th>
	    <th>Dilemma</th>
	    <th>Status</th>
	    <th>Url</th>
	    <th align="center">A. Type</th>
	    <th align="center">Time</th>
 		<th align="center">R. Type</th>
	    <th></th>
	    <th></th>
	    <th>User D.</th>
	  </tr>
	
 	<% @dilemmas.each do |dilemma| %>

	<tr>
		<td><%= dilemma.user_id %></td>    
		<td><%= link_to dilemma.id, dilemma %></td>
	    <td><%= dilemma.dilemma %></td>
	    <td><%= dilemma.status %></td>
	    <td><%= dilemma.shorten_url %></td>
	    <td align="center"><%= dilemma.ans_opt %></td>
		    <td align="center"><%= dilemma.title %></td>
		<td align="center"><%= dilemma.responses.count %> </td>
		<td><%= link_to 'Respond', new_dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-success' %></td>
			<td><%= link_to 'Voting?', dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-warning' %></td>
			<td><% if current_user?(dilemma.user) %>
			    <%= link_to "", dilemma, :class => "icon-remove-sign icon-white", method: :delete,
			                                     data: { confirm: "You sure?" },
			                                     title: dilemma.id %>
			  <% end %></td>
			
	    
	  </tr>
	  <% end %>
		</table>
</ul>

<%= will_paginate %>

</div>
</div>
