<div class="row">
  <div class="span8 offset2">
	
<h1>All Our Dilemmas</h1>

<form>
	<%= text_field_tag :search, params[:search]  %>
    <%= submit_tag "Search", :name => nil %>
	</form>


<%= form_tag dilemmas_path, :method => 'get' do %>
  <% end %>

<table class="table table-bordered" >
  <tr>
    <th>ID</th>
    <th>Dilemma</th>
    <th>Status</th>
    <th align="center">Answer Option</th>
    <th align="center">Responses</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dilemmas.each do |dilemma| %>
  <tr>
    <td><%= dilemma.id %></td>
    <td><%= dilemma.dilemma %></td>
    <td><%= dilemma.status %></td>
    <td align="center"><%= dilemma.ans_opt %></td>
	<td align="center"><%= dilemma.responses.count %> </td>
    <td><%= link_to 'Show', dilemma, :class => 'btn btn-mini' %></td>
	<td><%= link_to 'Respond', new_dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-success' %></td>
		<td><%= link_to 'Who Voted?', dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-warning' %></td>
    <td> <i class="icon-remove"></i><%= link_to " Delete", dilemma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'What is your Dilemma?', new_dilemma_path %>
</div>
</div>
