<div class="row">
  <div class="span11 offset1">

<% provide(:title, 'All dilemmas') %>	
<h1>All Our Dilemmas</h1>

<%= will_paginate %>

<ul class="dilemmas">
	
	<table class="table table-bordered" >
	  <tr>
		<th>User</th>    
		<th>ID</th>
	    <th>Dilemma</th>
	    <th>Status</th>
	    <th>Url</th>
	    <th align="center">Answer</th>
	    <th align="center">Duration</th>
 		<th align="center">Responses Count</th>
	    <th>Voting page</th>
	    <th>See responses</th>
	    <th>Owner Only Delete</th>
	  </tr>
	
 	<% @dilemmas.each do |dilemma| %>

	<tr>
		<td><%= dilemma.user_id %></td>    
		<td><%= link_to dilemma.id, dilemma %></td>
	    <td><%= dilemma.dilemma %></td>
	    <td><%= dilemma.status %></td>
	    <td><%= dilemma.shorten_url %></td>
	    <td><center><%= dilemma.ans_opt %></center></td>
		<td><center><%= dilemma.title %></center></td>
		<td><center><%= dilemma.responses.count %> </center></td>
		<td><center><%= link_to 'Respond', new_dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-success' %></center></td>
		<td><center><%= link_to 'Voting?', dilemma_response_path(dilemma,response), :class => 'btn btn-mini btn-warning' %></center></td>
		<td><center><% if current_user?(dilemma.user) %>
			    <%= link_to "", dilemma, :class => "icon-remove-sign icon-white", method: :delete,
			                                     data: { confirm: "You sure?" },
			                                     title: dilemma.id %>
			  <% end %></center></td>
			
	    
	  </tr>
	  <% end %>
		</table>
</ul>

<%= will_paginate %>

</div>
</div>
