<% provide(:title, "My Dilemma") %>

<div class="row">
  <div class="span6 offset4">
	<h1> <id="notice"><%= notice %></h1>
<br>
<br>

 	<b>Your Dilemma:</b>
		<div class="controls">
			<span class="input-xlarge uneditable-input"><%= @dilemma.dilemma %>
			</div>

	<p>This Dilemma is <b><%= @dilemma.status %> </b></p>
	<p>Closing time for this Dilemma is <b><%= l @dilemma.close_timestamp, :format => :short %></p></b>
<br>		
<br>
	<b>Post this link to Twitter get the voting started</b>
		<div class="controls">
			<span class="input-xlarge uneditable-input"><%= @dilemma.shorten_url %>
		</div>
<br>	
	<%= link_to "Post to Twitter", static_pages_notbuilt_path, class: "btn btn-large btn-info" %> 

<br>
<br>

<div class="table table-bordered"> 
<table>
  <tr>
	<th>How many people have responded so far:</th>
	<td> <%= (@dilemma).responses.count %> </td> 
  </tr>
</table>
</div>

<br>
<%= link_to 'Home', static_pages_options_path %> |

<%= link_to 'Edit Dilemma', edit_dilemma_path(@dilemma) %>
</div>
</div>
