<% provide(:title, "My Dilemma") %>

<div class="row">
  <div class="span6 offset4">
	<h1> <id="notice"><%= notice %></h1>
<br>
<br>

 	<b>Your Dilemma:</b>
		<div class="controls">
			<span class="input-xlarge uneditable-input"><%= @dilemma.dilemma %>
			</div>

<p><%= render "status_date" %></p>


<br>		
<br>
	<b>Post this link to Twitter get the voting started</b>
		<div class="controls">
			<span class="input-xlarge uneditable-input"><%= @dilemma.shorten_url %>
		</div>
<br>	
	<%= link_to "Post to Twitter", static_pages_notbuilt_path, class: "btn btn-large btn-info" %> 
<br>
<br>
<br>
<%= link_to 'Home', static_pages_options_path %> |
<%= link_to 'My Profile', user_path(@dilemma.user_id) %> |

<%= link_to 'Edit This Dilemma', edit_dilemma_path(@dilemma) %>
</div>
</div>
