<h3> <id="notice"><%= notice %></h3>

<br>
<br>
<blockquote>
  <%= @dilemma.dilemma %>
</blockquote>

<p>
  <b>Id:</b>
  <%= @dilemma.id %>
	<br>
</p>

<p>
  <b>Status:</b>
  <%= @dilemma.status %>
</p>
<br>

<div class="table table-bordered"> 
  <tr>
	<th>How many people have responded so far:</th>
	<td> <%= (@dilemma).responses.count %> </td>
  </tr>
</table>
<br>
</div>

<br>

<%= link_to 'Edit', edit_dilemma_path(@dilemma) %> |
<%= link_to 'Back', static_pages_options_path %>
